/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/resources/js/types/translations.ts
/storage/*.key
/storage/*.sqlite*
/storage/framework/installer_key
/storage/framework/schema-state.json*
/storage/installed
/storage/pail
/vendor
/build
/coverage
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
tags
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.cursor
/.zed
/.kiro
/.claude

**/caddy
frankenphp
frankenphp-worker.php
rr
.rr.yaml

/resources/demo/scripts
