{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 120,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn"],
    "tailwindStylesheet": "resources/css/admin.css",
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "resources/js/pages/storefront/**",
                "resources/js/components/storefront/**",
                "resources/js/layouts/storefront/**",
                "resources/js/hooks/storefront/**",
                "resources/js/storefront.tsx",
                "resources/css/storefront.css"
            ],
            "options": {
                "tailwindStylesheet": "resources/css/storefront.css"
            }
        },
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
